/*
 * Styles for the "accordion" option.
 */
.block-local-tasks-trigger {
  background: transparent url(../images/arrow-collapsed.png) no-repeat 0 0; /* LTR */
  border: 1px solid transparent;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
  height: 18px;
  padding-left: 12px; /* LTR */
  position: absolute;
  text-indent: 0.5em;
  white-space: nowrap;
  z-index: 100;
}
.block-local-tasks-trigger.block-local-tasks-trigger-notext,
.block-local-tasks-trigger-active {
  overflow: hidden;
  padding-left: 0; /* LTR */
  text-indent: 100%;
  width: 12px;
}
.block-local-tasks-trigger-active {
  background-image: url(../images/arrow-expanded.png);
  position: relative;
}
.block-local-tasks-trigger:hover {
  background-position: 0 -18px; /* LTR */
}
.block-local-tasks-container {
  display: none;
}
.block-local-tasks-container-active {
  display: block;
}

/*
 * Styles for the "accordion" + "vanishing trigger" option.
 */
.block-block-local-tasks.block-local-tasks-block-vanishing {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
*:hover > .block-block-local-tasks.block-local-tasks-block-vanishing,
.region:hover .block-block-local-tasks.block-local-tasks-block-vanishing,
.block-local-tasks-block-active.block-local-tasks-block-vanishing {
  height: auto;
  overflow: visible;
  visibility: visible;
}
